.sidebar {
  border: 1px solid white;
  width: 20%;
  display: flex;
  flex-direction: column;
  color: white;

  font-family: monospace;
  align-items: center;
  gap: 1rem;
}
.buttonchart {
  height: 2rem;
  width: 80%;
  font-family: monospace;
}
